body {
  margin: 0;
}

#canvas {
  width: 300px;
  height: 400px;
  margin: 0px auto;
}

#tophair {
  width: 300px;
  height: 100px;
  background: orange;
  border-radius: 50% 50% 0% 0%;
}

#skin {
  position: absolute;
  width: 300px;
  height: 320px;
  top: 90px;
  background: bisque;
  border-radius: 0% 0% 50% 50%;
  box-shadow: inset 0 0 50px black;
}

#curlyhair1 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: 40px;
  left: -20px;
  background: orange;
  border-radius: 0% 0% 50% 0%;
  transform: rotate(10deg);
}

#curlyhair2 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: 50px;
  right: -10px;
  background: orange;
  border-radius: 0% 0% 0% 50%;
  transform: rotate(4deg);
}

#curlyhair3 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: 100px;
  left: 5px;
  background: orange;
  border-radius: 0% 0% 50% 0%;
  transform: rotate(-10deg);
}

#curlyhair4 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: -13px;
  right: 40px;
  background: orange;
  border-radius: 0% 0% 0% 50%;
  transform: rotate(-20deg);
}

#curlyhair5 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: -25px;
  left: -8px;
  background: orange;
  border-radius: 0% 0% 50% 0%;
  transform: rotate(10deg);
}

#curlyhair6 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: 120px;
  right: -8px;
  background: orange;
  border-radius: 0% 0% 0% 50%;
  transform: rotate(17deg);
}

#curlyhair7 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: -30px;
  right: -30px;
  background: orange;
  border-radius: 0% 0% 0% 50%;
  transform: rotate(-10deg);
}

#curlyhair8 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: 170px;
  right: -8px;
  background: orange;
  border-radius: 0% 0% 0% 50%;
  transform: rotate(-13deg);
}

#curlyhair9 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: -25px;
  right: -8px;
  background: orange;
  border-radius: 0% 0% 0% 50%;
  transform: rotate(-25deg);
}

#curlyhair10 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: -15px;
  left: -24px;
  background: orange;
  border-radius: 0% 0% 50% 0%;
  transform: rotate(10deg);
}

#curlyhair11 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: 150px;
  left: -2px;
  background: orange;
  border-radius: 0% 0% 50% 0%;
  transform: rotate(-20deg);
}

#curlyhair12 {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 200px;
  top: 180px;
  left: -10px;
  background: orange;
  border-radius: 0% 0% 50% 0%;
  transform: rotate(10deg);
}




#eyebrow1 {
  position: absolute;
  width: 70px;
  height: 10px;
  background: brown;
  top: 75px;
  left: 45px;
  transform: rotate(-3deg);
}

#eyebrow15 {
  position: absolute;
  width: 50px;
  height: 10px;
  background: brown;
  top: 73px;
  left: 72px;

}

#eyebrow2 {
  position: absolute;
  width: 70px;
  height: 10px;
  background: brown;
  top: 75px;
  right: 50px;
  transform: rotate(3deg);
}

#eyebrow25 {
  position: absolute;
  width: 50px;
  height: 10px;
  background: brown;
  top: 73px;
  right: 72px;

}

#eye1 {
  position: absolute;
  width: 70px;
  height: 30px;
  background: white;
  top: 100px;
  left: 50px;
  border-radius: 20% 20% 30% 50%;
  box-shadow: inset 0 0 20px black;
}

#eye2 {
  position: absolute;
  width: 70px;
  height: 30px;
  background: white;
  top: 100px;
  right: 50px;
  border-radius: 20% 20% 50% 30%;
  box-shadow: inset 0 0 20px black;
}

#iris1 {
  z-index: 1;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  top: 105px;
  left: 80px;
  border-radius: 50%;
}

#iris2 {
  z-index: 1;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  top: 105px;
  right: 65px;
  border-radius: 50%;
}

#pupil1 {
  z-index: 2;
  position: absolute;
  width: 7px;
  height: 7px;
  background: white;
  top: 105px;
  left: 84px;
  border-radius: 50%;
}

#pupil2 {
  z-index: 2;
  position: absolute;
  width: 7px;
  height: 7px;
  background: white;
  top: 105px;
  right: 76px;
  border-radius: 50%;
}

#nose {
  position: absolute;
  border-bottom: 50px solid black;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 20px;
  top: 150px;
  left: 127px;
}

#lips {
  position: absolute;
  width: 100px;
  height: 0px;
  border: 30px solid;
  border-color: transparent transparent black transparent;
  top: 200px;
  left: 72px;
  border-radius: 50%;
}

#ear1 {
  position: absolute;
  width: 50px;
  height: 100px;
  background: bisque;
  box-shadow: inset 0 0 20px black;
  left: -46px;
  top: 60px;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(-10deg);
}

#ear2 {
  position: absolute;
  width: 50px;
  height: 100px;
  background: bisque;
  box-shadow: inset 0 0 20px black;
  right: -46px;
  top: 60px;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(10deg);
}
